<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.demo.UserMapper">
	<insert id="addUser" parameterType="user">
		insert into tb_user(UserName, Password, Nickname) values (#{userName}, #{password}, #{nickname})
	</insert>
	
	<delete id="delUser" parameterType="java.lang.Integer">
		delete from tb_user where UserId = #{userId}
	</delete>
</mapper>